<!-- templates/search.liquid -->
{% if search.performed %}
	
	<div class="row columns">
			
		{% comment %}
			Avoid accessing search.results before the opening paginate tag. If you do, the pagination of results will be broken.
		{% endcomment %}
		
		{% include 'search-bar' %}
		
		<h2>
			{% if search.results_count == 0 %}
				
				{{ 'general.search.no_results_html' | t: terms: search.terms }}
				
			{% else %}
				
				{{ 'general.search.results_for_html' | t: terms: search.terms }}
				
			{% endif %}
		</h2>
		
	</div>
	
	<div class="row">
		
		{% for item in search.results %}
			{% if item.object_type == 'product' %}
				{% include 'search-result' %}
			{% endif %}
		{% endfor %}
		
	</div>
	
{% else %}
	
	{% comment %}
		If search.performed is false, someone either accessed the page without the q parameter, or it was blank. Be sure to show a search form here, along with anything else you want to showcase.
	{% endcomment %}
	
	{% include 'search-bar' %}
	
	<div class="row columns">
		<h2>{{ 'general.search.title' | t }}</h2>
	</div>
	
{% endif %}
<!-- end templates/search.liquid -->